@import "tailwindcss";

:root {
  --background: #eceaea;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sunghyun-sans);
  --font-logo: var(--font-montserrat);
}

body {
  background: var(--background);
  color: var(--foreground);
}

@layer utilities {
  .scrollbar-none {
    scrollbar-width: none;
  }
  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }
}
